header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 4px 4px #1d1d1dab;
  position: sticky;
  backdrop-filter: blur(20px);
  top: 0;
  flex-wrap: wrap;
  padding: 0 20px;
  & h1 {
    color: #747bff;
  }
  & #xx {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & #drawer {
    display: none;
    font-size: 2rem;
  }
  & nav {
    display: flex;
    /* padding: 10px; */
    gap: 15px;
    justify-content: space-between;
    align-items: center;
  }
  & a {
    cursor: pointer;
  }
  & #md-nav {
    width: 100%;
    display: none;
    padding: 10px;
  }
  @media (max-width: 900px) {
    & {
      padding: 0 20px;
    }
    & a:not(#drawer) {
      display: none;
    }
    & #md-nav {
      display: flex;
    }
    & #md-nav > a {
      display: block;
    }
    & #drawer {
      display: block;
    }
  }
}
